body {
    background: rgba(84, 199, 252, 0.3);
    font-family: 'Lato', sans-serif;
}

p a {
    color: #707070;
    text-decoration: none;
    cursor: pointer;

    -webkit-transition: -webkit-transform .8s, color 1s; /* Safari 和 Chrome */
    -o-transition: -o-transform .8s, color 1s; /* Opera */
    -moz-transition: -moz-transform .8s, color 1s; /* Firefox 4 */
    transition: transform .8s, color 1s;
}

p a:hover {
    color: #0076FF;
    text-decoration: none;
    cursor: pointer;
}

.container {
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 5em;
    background: white;
    box-shadow: 0px 5px 10px -5px #888;
}

.row-header {
    padding-bottom: 2em;
}

#head {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 160px;
    max-width: 160px;
}

h1.name {
    font-size: 48px;
    font-weight: 700;
    line-height: 160px;
    margin: auto 0 auto 0.4em;
    text-align: center;
}

p.contact {
    display: table-cell;
    vertical-align: middle;
    margin: 0px auto;
    padding-left: 4.5em;

    font-size: 14px;
    text-align: right;
    line-height: 1.8em;
    height: 160px;
    font-weight: 400;
    color: #444;
}

.row-title {
    padding-top: 1em;
}

.h1-title {
    color: #0076FF;
    font-weight: 700;
    font-size: 24px;

    padding-left: 1em;
    margin-left: -1em;
    border-left: 15px solid #0076FF;
    text-transform: uppercase;
}

.p-time, .p-title, .p-content {
    margin-left: 15px;
    font-size: 18px;
    line-height: 36px;
}

.p-time {
    font-weight: 400;
    color: #6A6A6A;
}

.p-title {
    font-weight: 700;
    color: #444;
}

.p-content {
    margin-top: -1em;
    font-weight: 400;
    color: #444;
}

@media screen and (max-width: 1200px){
    h1.name {
        margin: auto 0;
    }
    p.contact {
        display: none;
    }
}

/***** ANIMATIONS *****/
.container {
    -webkit-animation: fadein .7s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .7s; /* Firefox < 16 */
        -ms-animation: fadein .7s; /* Internet Explorer */
         -o-animation: fadein .7s; /* Opera < 12.1 */
            animation: fadein .7s;
}

.row {
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}