/** {
	font-family: "LantingHei SC";
	background: url('..pic/bg.png') repeat-x repeat-y;
}*/

body {
	margin-top: 1.67em;
	font-family: "LantingHei SC";
/*	background: url('../pic/bg_pink_pants.png');*/
	line-height: 24px;
}

h1 {
	font-size: 28px;
	margin: .22em 0;
}

.container {
	 max-width: 55%;
	 min-width: 740px;
}

.line {
	background: url('../pic/line.png') repeat-x;
	min-height: 4px;
	position: relative;
	margin: .22em 0;
	padding: 0;
}

.heading {
	font-size: 18px;
	font-weight: bold;
	padding-top: .22em;
	padding-bottom: .22em;
}

a, a:link, a:visited {
	color: black;
	text-decoration: underline;

}

a:hover {
	color: green;
}